<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br />
    <%= f.select :application_id, options_from_collection_for_select(current_account.applications, :id, :name, @channel.application_id) %>
  </div>
  <%= f.fields_for :config do |c| %>
    <div class="field">
      <%= c.label :host_and_port %><br />
      <%= c.text_field :host_and_port, :value => @channel.config.try(:[], 'host_and_port') %>
    </div>
    <div class="field">
      <%= c.label :user %><br />
      <%= c.text_field :user, :value => @channel.config.try(:[], 'user')  %>
    </div>
    <div class="field">
      <%= c.label :password %><br />
      <%= c.password_field :password, :value => @channel.config.try(:[], 'password')  %>
    </div>
    <div class="field">
      <%= c.label :register %><br />
      <%= c.check_box :register, {:checked => @channel.config.try(:[], 'register') == '1'}  %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
