.field
  = f.label :username
  = f.text_field :username, :autocomplete => 'off', readonly: readonly
.field
  = f.label :password
  = f.password_field :password, :value => @channel.password, :autocomplete => 'off', readonly: readonly
.field
  = f.label :number
  = f.text_field :number, readonly: readonly
.field
  = f.label :limit
  = f.text_field :limit, readonly: readonly
.field
  = f.label :domain
  = f.text_field :domain, readonly: readonly
.field
  = f.label :direction
  = f.select :direction, [['Incoming', 'inbound'], ['Outgoing', 'outbound'], ['Both directions', 'both']], {}, {disabled: readonly}
.field
  = f.label :register, style: 'display:inline-block'
  = f.check_box :register
