<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br />
    <%= f.select :application_id, options_from_collection_for_select(current_account.applications, :id, :name, @channel.application_id) %>
  </div>
  <%= f.fields_for :config do |c| %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
