<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :call_flow_id %>
    <%= f.select :call_flow_id, options_from_collection_for_select(current_account.call_flows, :id, :name, @channel.call_flow_id) %>
  </div>

  <%= f.hidden_field :kind %>

  <%= render "form_#{@channel.kind}", :f => f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
