.field
  = f.label :account_sid
  = f.text_field :account_sid, readonly: readonly
.field
  = f.label :auth_token
  = f.text_field :auth_token, readonly: readonly
.field
  = f.label :number
  = f.text_field :number, readonly: readonly
.field
  = f.label :limit
  = f.text_field :limit, readonly: readonly
