%h2 Channels
= render partial: '/shared/channels_tabs'

%br
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable.ItemsTable{:class => ('empty' if @channels.empty?)}
    %tr
      %th My Channels
      %th
        = select_tag('new_channel', options_for_select(@channel_kinds), onchange: 'create_channel(this)', prompt: 'Create new...')
    - if @all_channels.empty?
      %tr
        %td.EmptyFolder{:colspan => 100}
          %br
          You have no voice channels yet.
          %br
          = select_tag('new_channel', options_for_select(@channel_kinds), onchange: 'create_channel(this)', prompt: 'Create new...')
    - else
      - @all_channels.each do |channel, permission|
        %tr.link{'data-url' => channel_path(channel)}
          %td{'class' => channel_row_class(channel)}
            - status = @channel_status[channel.id]
            - status_ok = status.nil? || status[:ok]
            %span.channel-status{'class' => channel_status_class(status)}
            = channel.name
            - if permission
              (shared as #{permission})
            - unless channel.enabled?
              &mdash; disabled
            - unless status_ok
              %br
              - status[:messages].each do |message|
                %label.error
                  = message
                %br
          %td
            %button.farrow{:type => :button}
    %tr
