<p id="notice"><%= notice %></p>

<p>
  <b>Call Flow:</b>
  <%= @channel.call_flow_id %>
</p>

<p>
  <b>Name:</b>
  <%= @channel.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @channel.kind %>
</p>

<p>
  <b>Active calls:</b>
  <%= @channel.active_calls_count %>
</p>

<%= render "show_#{@channel.kind.downcase}", :channel => @channel rescue '' %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
