= form_for [@persisted_variable.contact, @persisted_variable] do |f|
  - if @persisted_variable.errors.any?
    #error_explanation
      %h2= "#{pluralize(@persisted_variable.errors.count, "error")} prohibited this persisted_variable from being saved:"
      %ul
        - @persisted_variable.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :value
    = f.text_field :value

  .actions
    = f.submit 'Save'
