%h1 Listing persisted_variables

%table
  %tr
    %th Name
    %th Value
    %th
    %th
    %th

  - @persisted_variables.each do |persisted_variable|
    %tr
      %td= persisted_variable.name
      %td= persisted_variable.value
      %td= link_to 'Show', contact_persisted_variable_path(@contact, persisted_variable)
      %td= link_to 'Edit', edit_contact_persisted_variable_path(@contact, persisted_variable)
      %td= link_to 'Destroy', [@contact, persisted_variable], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Persisted variable', new_contact_persisted_variable_path(@contact)
%br
= link_to 'Back', @contact