<%= form_for(call_queue) do |f| %>
  <% if call_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call_queue.errors.count, "error") %> prohibited this call queue from being saved:</h2>

      <ul>
      <% call_queue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :retries %>
    <%= f.text_field :retries %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end %>