= form_for(@application, :builder => InsteddFormBuilder) do |f|
  - if @application.errors.any?
    #error_explanation
      %h2
        = pluralize(@application.errors.count, "error")
        prohibited this application from being saved:
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg
  - if @application.new_record?
    = f.text_field :name
  = f.select :mode, options_for_select([['Use a callback URL', :callback_url], ['Use a custom flow', :flow]], @application.mode)
  #callback_url_container{:style => ('display: none' if @application.mode != :callback_url)}
    - with_callback_url_fields do |field, field_type|
      = f.send(field_type, field)

  - with_callback_url_fields(:status) do |field, field_type|
    = f.send(field_type, field)

  %hr
  .bottom-actions
    = f.submit :class => 'white'
