<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :callback_url %><br />
    <%= f.text_field :callback_url %>
  </div>
  <div class="field">
    <%= f.label :flow %><br />
    <%= f.text_area :flow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
