
= render partial: 'tabs'

%p
  %b Name:
  = @application.name
%p
  %b Mode:
  = @application.info
- if @application.mode == :flow
  %ul
    - @application.commands.each do |cmd|
      %li
        - if cmd.is_a? Hash
          - name, args = cmd.first
          %b= name
          - if args.is_a? Hash
            = args.to_pretty_s
          - else
            = args
        - else
          %b= cmd

%hr
  .bottom-actions
    = link_to 'Edit', edit_application_path(@application), :class => "button grey"
    = link_to 'Back', applications_path, :class => "button white cancel"
    = link_to 'Delete', @application, :confirm => "Are you sure you want to delete the application #{@application.name}?", :method => :delete, :class => "button white cancel"