
= render 'tabs'

%p
  %b Name:
  = @application.name
%p
  %b Mode:
  = @application.info
- if @application.mode == :flow
  %pre
    = @application.commands.to_yaml

%hr
= link_to 'Edit', edit_application_path(@application), :class => "button grey"
= link_to 'Back', applications_path, :class => "button white cancel"
= link_to 'Delete', @application, :confirm => "Are you sure you want to delete the application #{@application.name}?", :method => :delete, :class => "button white cancel"
= link_to 'Download call results as CSV', application_path(:format => :csv), :class => "button fexport right"