<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Mode:</b>
  <%= @application.info %>
</p>

<% if @application.mode == :flow %>
  <ul>
    <% @application.commands.each do |cmd| %>
      <li>
        <% if cmd.is_a? Hash %>
          <% name, args = cmd.first %>
          <b><%= name %></b>
          <% if args.is_a? Hash %>
            <%= args.to_pretty_s %>
          <% else %>
            <%= args %>
          <% end %>
        <% else %>
          <b><%= cmd %></b>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
