<%= form_for([project, schedule]) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :retries %>
    <%= f.text_field :retries %>
  </div>

  <div class="field">
    <%= f.label :from %>
    <%= f.text_field :time_from_str %>
  </div>

  <div class="field">
    <%= f.label :to %>
    <%= f.text_field :time_to_str %>
  </div>

  <div class="field">
    <%= f.label :weekdays %>
    <%= f.text_field :weekdays %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<%- end %>