<%= render 'shared/project_tabs_and_title', :project => project %>

<%= link_to 'Create new schedule', new_project_schedule_path(project) %>

<table class="GralTable">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<%- schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.name %></td>
    <td>
      <%= link_to 'edit', edit_project_schedule_path(project, schedule) %>
      <%= link_to 'delete', [project, schedule], :confirm => "Are you sure you want to delete the schedule #{schedule.name}?", :method => :delete %>
    </td>
  </tr>
<%- end %>
</table>