= render 'tabs'

%h2 Queued calls
%p
  Here you can see the details of enqueued calls.
%form
  %div= page_entries_info @calls, :entry_name => 'queued calls'
  = will_paginate @calls, :param_name => 'page'
  - if @calls.present?
    %br/
    %table.GralTable
      %tr
        %th ID
        %th Channel
        %th Date
        %th Address
        %th Queue
        %th Application
        %th State
        %th
      - @calls.each do |call|
        %tr
          %td= call.id
          %td= call.channel.try(:name)
          %td= call.not_before
          %td= call.address
          %td= call.call_queue.try(:name)
          %td= call.application.try(:name)
          %td= call.call_log.try(:state)
          %td= link_to 'view log details', call_log_path(call.call_log)
    %br/
    %div= page_entries_info @calls, :entry_name => 'queued calls'
    = will_paginate @calls, :param_name => 'page'
%br/

%hr/

%h2 Enqueue new calls

= form_tag enqueue_call_logs_path, :method => 'POST' do
  %p
    = label_tag :channel_id, 'Channel'
    = select_tag :channel_id, options_from_collection_for_select(@channels, 'id', 'name'), :include_blank => true
  %p
    = label_tag :queue_id, 'Call queue'
    = select_tag :queue_id, options_from_collection_for_select(@queues, 'id', 'name'), :include_blank => true
  %p
    = label_tag :application_id, 'Application'
    = select_tag :application_id, options_from_collection_for_select(@applications, 'id', 'name'), :include_blank => true
  %p
    = label_tag :addresses
    %p Enter each address in a separate line
    %p
      = text_area_tag :addresses, nil, :placeholder => "555-1000", :rows => 10
  %p
    = submit_tag "Enqueue calls"