= render 'tabs'

%h2 Queued calls
%p
  Here you can see the details of enqueued calls.
%form
  %div= page_entries_info @calls, :entry_name => 'queued calls'
  = will_paginate @calls, :param_name => 'page'
  - if @calls.present?
    %br/
    %table.GralTable
      %tr
        %th ID
        %th Channel
        %th Date
        %th Phone number
        %th Queue
        %th Project
        %th State
        %th
      - @calls.each do |call|
        %tr
          %td= call.id
          %td= call.channel.try(:name)
          %td= call.not_before
          %td= call.address
          %td= call.schedule.try(:name)
          %td= call.project.try(:name)
          %td= call.call_log.try(:state)
          %td
            = link_to 'view log details', call_log_path(call.call_log)
            = link_to '', [call.channel, call], :confirm => "Are you sure you want to delete the call #{call.address}?", :method => :delete, :class => "button fdelete"
    %br/
    %div= page_entries_info @calls, :entry_name => 'queued calls'
    = will_paginate @calls, :param_name => 'page'