%h1
  = channel.name
  - if @shared_channel
    (#{channel.kind}, shared as #{@channel_permission})
  - else
    (#{channel.kind})
  - unless channel.enabled?
    &mdash;
    %span.channel-disabled channel disabled

%ul.tabs.top
  %li{ :class =>"#{"active" if params[:controller] == "channels" && params[:action] == 'show'}" }
    = link_to "Overview", channel_path(channel)
  %li{ :class =>"#{"active" if params[:controller] == "channels" && params[:action] == 'edit'}" }
    = link_to "Settings", edit_channel_path(channel)
.tabsline

%br
