.row
  %h4.col.s12
    - if @channel.new_record?
      Setup a new #{@channel.kind} channel
    - else
      Edit channel #{@channel.name_was}

- form_action = @channel.new_record? ? {url: {action: :create}} : {url: {action: :update}, method: :put}
= form_for(@config, as: :config, **form_action, html: {autocomplete: 'off'}, builder: MaterializeFormBuilder) do |f|
  - if @config.errors[:base].present?
    %i.material-icons.red-text.left error
    = f.error_message :base

  %input{type: :hidden, name: :kind, value: @kind}
  %input{type: :hidden, name: :access_token, value: params[:access_token]}
  .row
    = f.text_field :name, helper: 'A friendly name for the channel, so you can identify it'

  = render "form_#{@kind}", f: f

  .row
    .right-align.col.s12
      %a.btn-flat{onclick: "sendCancel()"} Cancel
      %button.btn-large.waves-effect.waves-light.blue{onclick: "this.form.submit()"}
        - if @channel.new_record?
          Create Channel
        - else
          Update Channel
