.row
  = f.text_field :account_sid, label: 'Twilio account SID'

.row
  = f.password_field :auth_token, label: 'Twilio auth token', value: @config[:auth_token]

.row
  = f.text_field :number, label: 'Twilio phone number'

.row
  = f.text_field :limit, colspan: 's4', helper: 'Number of concurrent calls'

.row
  = f.text_field :base_url,
    label: "Custom Twilio base URL (defaults to <code>https://api.twilio.com/2010-04-01</code>)".html_safe,
    placeholder: "https://api.twilio.com/2010-04-01"
