= form_for @contact do |f|
  -if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :address, 'Phone number'
    = f.text_field :address
  .actions
    = f.submit 'Save'
