= render 'shared/project_tabs_and_title', :project => @project, :shared_project => @shared_project

%h2 Queued calls
%p.desc Calls scheduled to be made
= render 'tabs'

%br
= render 'call_selector'
%br

.tablewrapp.no-wrap.scroll.contacts-table
  %table.GralTable
    %tr
      %th ID
      %th Channel
      %th Date
      %th Schedule
      - @calls.each do |call|
        %tr
          %td=call.id
          %td=call.channel.name
          %td=call.not_before
          %td=call.schedule.try(:name)

%div#call_logs_paginator
  = form_tag({action: :queued_calls}, method: :get) do
    - total_pages = (@calls.count/@per_page)+1

    - previous_btn_class = 'pprevious' + (if (@page.to_i - 1) < 1 then " disabled" else '' end)
    = link_to '', {action: 'queued_calls', page: @page.to_i-1}, class: previous_btn_class

    - next_btn_class = 'pnext' + (if (@page.to_i + 1) > total_pages then " disabled" else '' end)
    = link_to '', {action: 'queued_calls', page: @page.to_i+1}, class: next_btn_class

    = text_field_tag 'page', @page.to_i
    %span.label-info="of #{total_pages}"
    = submit_tag '', class: 'hidden'

%br/
