= render 'shared/project_tabs_and_title', :project => @project

%p#notice= notice

%p
  %b Phone number:
  = @contact.address

= link_to 'Edit Variables', contact_persisted_variables_path(@contact)
%br
= link_to 'View Recorded Audios', contact_recorded_audios_path(@contact)
%br
= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', project_contacts_path(@project)
