.box.w30.right.lmargin.enqueue_new_call
  %h2 Enqueue new calls
  %p.desc Add new calls to this project queue
  = form_tag enqueue_call_project_path, :method => 'POST' do
    %p
      = label_tag :call_flow_id, 'Call Flow'
      %br/
      = select_tag :call_flow_id, options_from_collection_for_select(call_flows, 'id', 'name'), :prompt => 'Select a Call Flow...', :class => 'w30'
    %p
      = label_tag :channel_id, 'Channel'
      %br/
      = select_tag :channel_id, options_from_collection_for_select(channels, 'id', 'name'), :prompt => 'Select a Channel...', :class => 'w30'
    %p
      = label_tag :schedule_id, 'Schedule'
      %br/
      = select_tag :schedule_id, options_from_collection_for_select(schedules, 'id', 'name'), :prompt => 'Select a Schedule...', :class => 'w30'
    %p
      = check_box_tag :not_before
      = label_tag :not_before, 'Not before'
      %br/
      = text_field_tag :not_before_date, '', :class => "ux-custom-datepicker ux-datepicker w10"
      = text_field_tag :not_before_time, '00:00', :class => 'w10', :alt => 'time'
    %p
      = label_tag :time_zone, 'On time zone'
      %br/
      = select_tag :time_zone, time_zone_options_for_select(project.time_zone, TZInfo::Timezone.all.sort, TZInfo::Timezone), :class => 'w30'
    %p
      = label_tag :language
      %br/
      = select_tag :language, options_for_select(project.languages.map { |lang| [LanguageList::LanguageInfo.find(lang['language']).name, lang['language']] }), prompt: 'None specified', name: 'vars[language]'
    - if project.project_variables.any?
      %p
        .ux-collapsible.collapsed
          %span
            %a.arrow{href: "#"}
              = label_tag :variables
          .ux-content
            - project.project_variables.each do |var|
              %br/
              = label_tag var.name, var.name.downcase
              %br/
              = text_field_tag var.name, '', name: "vars[#{var.name}]"
            - project.external_services.each do |service|
              - service.global_variables.each do |var|
                %br/
                = label_tag var.name, var.display_name
                %br/
                = text_field_tag var.name, '', name: "vars[#{var.name}]"
    %p
      = label_tag :addresses, 'Phone numbers'
      %br/
      %span.desc Enter each phone number in a separate line
      %p
        = text_area_tag :addresses, nil, :placeholder => "555-1000", :rows => 10, :class => 'w30'
    %p
      = button_tag "Enqueue calls", :class => 'orange'
