- content_for :head do
  :javascript
    window.languages = #{languages_for_js};

= form_for(@project, :builder => InsteddFormBuilder) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  %br

  %h1 Properties

  = f.text_field :name
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all

  %hr

  %br
  %br

  %h1 Languages

  = f.label :default_language
  %br
  = collection_select :project, :default_language, @project.languages.map{|l| LanguageList::LanguageInfo.find(l)}, :iso_639_1, :name, {}, :class => 'w30'

  %br
  %br

  = f.label :languages, "Languages you will support in this project"
  %br
  %ul.clist.w30
    - @project.languages.each do |iso|
      - language = LanguageList::LanguageInfo.find(iso)
      %li
        = hidden_field_tag 'project[languages][]', iso
        / %input.ux-clist{:type => 'text', :value => "#{language.name} (#{language.iso_639_1})"}
        %span.language= "#{language.name} (#{language.iso_639_1})"
        %button.clist-remove.remove_language
    %li
      %input#add_language.ux-type{:type => 'text', :placeholder => 'Add a new language'}
      %button#add_language_button.clist-add
    .hidden
      %li#language_proto
        = hidden_field_tag 'project[languages][]'
        %span.language
        %button.clist-remove.remove_language

  %br

  %hr

  %br
  %br

  %h1 Status callback

  = f.text_field :status_callback_url, :label => 'URL'
  = f.text_field :status_callback_url_user, :label => 'User', :autocomplete => 'off'
  = f.password_field :status_callback_url_password, :label => 'Password', :autocomplete => 'off'

  %hr

  - if @project.new_record?
    %button.grey{:type => "submit"} Save
    = link_to "Cancel", projects_path, :class => "button white cancel", :style => 'top: 1px;'
  - else
    %button.grey{:type => "submit"} Update
    = link_to "Cancel", project_path(@project), :class => "button white cancel", :style => 'top: 1px;'
