= render 'shared/project_tabs_and_title', :project => @project

%h2 Enqueue new calls

= form_tag enqueue_call_project_path, :method => 'POST' do
  %p
    = label_tag :channel_id, 'Channel'
    = select_tag :channel_id, options_from_collection_for_select(@channels, 'id', 'name'), :prompt => 'Select a Channel...'
  %p
    = label_tag :schedule_id, 'Schedule'
    = select_tag :schedule_id, options_from_collection_for_select(@schedules, 'id', 'name'), :prompt => 'Select a Schedule...'
  %p
    = label_tag :call_flow_id, 'Call Flow'
    = select_tag :call_flow_id, options_from_collection_for_select(@call_flows, 'id', 'name'), :prompt => 'Select a Call Flow...'
  %p
    = label_tag :not_before, 'Make calls'
    = text_field_tag :not_before, '', :class => "ux-custom-datetimepicker"
  %p
    = label_tag :time_zone, 'On time zone'
    = select_tag :time_zone, time_zone_options_for_select('UTC')
  %p
    = label_tag :addresses, 'Phone numbers'
    %p Enter each phone number in a separate line
    %p
      = text_area_tag :addresses, nil, :placeholder => "555-1000", :rows => 10
  %p
    = submit_tag "Enqueue calls"

= link_to 'Edit', edit_project_path(@project), :class => "button grey"
= link_to 'Back', projects_path, :class => "button white cancel"
= link_to 'Delete', @project, :confirm => "Are you sure you want to delete the project #{@project.name}?", :method => :delete, :class => "button white cancel"
