= render 'shared/project_tabs_and_title', :project => @project, :shared_project => @shared_project

= render 'enqueue_new_call', :project => @project, :call_flows => @call_flows, :channels => @channels, :schedules => @schedules

%h1 Calls
%p Total number of calls made and received

.sbox.grey.StateDisplay.w30
  .values
    .U
      %span.big= @call_logs.size
      %span= "#{@call_logs.size == 1 ? 'call' : 'calls'} registered"
  = link_to 'Download as CSV', download_call_logs_path(:format => :csv, :search => "project_id:\"#{@project.id}\""), :class => "button white"

%br/
%hr/
%br/

%h1 Properties

%ul.call-properties.left
  %li
    .i48grad-call-flow
    %div
      %span="#{pluralize @call_flows.size, 'Call flow'} in this project"
    = link_to "Edit Call Flows", project_call_flows_path(@project), :class => "button farrow"
  %li
    .i48grad-channel
    %div
      %span= "#{pluralize @project_channels.size, 'channel'} in this project"
    = link_to "Manage channels", channels_path, :class => "button farrow"

  %li
    .i48grad-time
    %div
      %span= pluralize @queued_calls.size, 'queued call'
    = link_to "View calls", queued_call_logs_path, :class => "button farrow"

%br{ :clear => 'left'}

= link_to 'Edit settings', edit_project_path(@project), :class => "button farrow"
%hr

- if project_owner?
  = link_to 'Delete this project', @project, :confirm => "Are you sure you want to delete the project #{@project.name}?", :method => :delete, :class => "button fdelete"
.clear
