= render 'shared/project_tabs_and_title', :project => @project

%hr
= link_to 'Edit', edit_project_path(@project), :class => "button grey"
= link_to 'Back', projects_path, :class => "button white cancel"
= link_to 'Delete', @project, :confirm => "Are you sure you want to delete the project #{@project.name}?", :method => :delete, :class => "button white cancel"
