%h2 Channels
= render partial: '/shared/channels_tabs'

%br
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable.ItemsTable{:class => ('empty' if @channels.empty?)}
    %tr
      %th My Channels
      %th
        = select_tag('new_channel', pigeon_nuntium_channel_kinds_for_select, onchange: 'create_nuntium_channel(this)', prompt: 'Create new...')
    - if @channels.empty?
      %tr
        %td.EmptyFolder{:colspan => 100}
          %br
          You have no SMS channels yet.
          %br
          = select_tag('new_channel', pigeon_nuntium_channel_kinds_for_select, onchange: 'create_nuntium_channel(this)', prompt: 'Create new...')
    - else
      - @channels.each do |channel|
        %tr.link{'data-url' => edit_nuntium_channel_path(channel)}
          %td
            = channel.name
            - unless channel.enabled
              %span.lightgreytext (disabled)
          %td
            %a.farrow
            = link_to 'Delete', channel, :method => :delete, :confirm => 'Are you sure?', :class => 'fdelete'
    %tr

