= render 'shared/project_tabs_and_title', :project => @project

= render 'form'

= link_to 'Download call results as CSV', project_call_flow_path([@project, @call_flow], :format => :csv), :class => "button fimport"
= link_to 'Export call Flow', project_call_flow_path([@project, @call_flow], :format => :vrb), :class => "button fimport"

Import Call Flow:
= form_tag({:action => :import_call_flow}, :multipart => true) do
  = file_field_tag 'vrb', :label => 'Browse'
  = submit_tag 'Upload', :class => 'grey-button shadow'
