= form_for [project, external_service] do |f|
  -if external_service.errors.any?
    #error_explanation
      %h2= "#{pluralize(external_service.errors.count, "error")} prohibited this external_service from being saved:"
      %ul
        - external_service.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :url
    = f.text_field :url
    = link_to 'Preview', '#', :class => 'request_service_manifest', :remote => true

  %br

  .external_service_info
    = render 'data'

  %br

  .external_service_settings
    %h2 Settings
    = f.fields_for :global_variables, external_service.global_variables do |variables_form|
      .field
        = variables_form.object.name
        = variables_form.hidden_field :name
        = variables_form.text_field :value

  .actions
    = f.submit 'Save'
