= render 'shared/project_tabs_and_title', :project => project

%table
  %tr
    %th Name
    %th Url
    %th
    %th
    %th
    %th

  - external_services.each do |external_service|
    %tr
      %td= external_service.name
      %td= external_service.url
      %td= link_to 'Show', external_service_path(external_service)
      / %td= link_to 'Show', project_external_service_path(project, external_service)
      %td= link_to 'Edit', edit_external_service_path(external_service)
      / %td= link_to 'Edit', edit_project_external_service_path(project, external_service)
      %td= link_to 'Destroy', external_service_path(external_service), :confirm => 'Are you sure?', :method => :delete
      / %td= link_to 'Destroy', project_external_service_path(project, external_service), :confirm => 'Are you sure?', :method => :delete
      %td= link_to 'Update Manifest', update_manifest_project_external_service_path(project, external_service), :method => :put
%br

= link_to 'New External service', new_project_external_service_path(project)
