<h1>Settings</h1>

<ul>
<li>Environment: <%= @@environment %></li>
<li>Backups folder: <%= @@backups_folder %></li>
<li>Database:
  <ul>
    <li>Name: <%= @database['database']%></li>
    <li>User: <%= @database['username']%></li>
    <li>Pass: <%= @database['password']%></li>
  </ul>
</li>
<li>Broker:
  <ul>
    <li>Records folder: <%= @broker['record_dir'] %></li>
    <li>Asterisk sounds folder: <%= @broker['asterisk_sounds_dir'] %></li>
  </ul>
</li>
<li>Web app:
  <ul>
    <li>Environment: <%= @@environment %></li>
    <li>Folder: <%= @@rails_path %></li>
  </ul>
</li>
</ul>
