%h1 Listing recorded_audios

%table
  %tr
    %th Contact
    %th Call ID
    %th Description
    %th
    %th

  - @recorded_audios.each do |recorded_audio|
    %tr
      %td= recorded_audio.contact.address
      %td= recorded_audio.call_log.id
      %td= recorded_audio.description
      %td= link_to 'Show', contact_recorded_audio_path(@contact, recorded_audio)
      %td= link_to 'Destroy', [@contact, recorded_audio], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Back', @contact