%p#notice= notice

%p
  %b Contact:
  = @recorded_audio.contact.address
%p
  %b Call ID:
  = @recorded_audio.call_log.id
%p
  %b Description:
  = @recorded_audio.description

%p
  %b Download audio:
  = link_to 'Download', result_call_log_path(recorded_audio.call_log, {:key => recorded_audio.key})

= link_to 'Back', contact_recorded_audios_path(@contact)