<% content_for :navigation do %>
  <%= section "Home", home_path, :home %>
  <% if account_signed_in? %>
    <%= section "Projects", projects_path, :projects, [:projects, :call_flows, :resources, :schedules, :contacts, :external_services, :feeds] %>
    <%= section "Channels", channels_path, :channels, [:channels, :nuntium_channels] %>
    <%= section "Calls", call_logs_path, :call_logs %>
    <%= section "Permissions", permissions_path, :permissions %>
  <% end %>
<% end %>
<% content_for :right_menu do %>
  <ul class="RightMenu">
    <%- if account_signed_in? %>
      <li>
        <div id="User">
          <%=current_account.email%><br><br>
          <div class="container">
            <ul>
              <li><%= link_to 'Settings', guisso_settings_path(:account) %></li>
            </ul>
            <hr/>
            <ul>
              <li><a href="mailto:support@instedd.org?subject=[<%= application_name.underscore %>-bug]">Report a bug</a></li>
              <li><%= link_to "Sign Out", guisso_sign_out_path_for(:account, after_sign_out_url: root_url), method: :delete %></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div id="alerts" class="alerts">
          <span class="summary" data-bind="visible: alerts().length > 0, text: alerts().length"></span>
          <div class="box" data-bind="foreach: alerts">
            <div class="item" data-bind="click: $parent.open">
              <span data-bind="text: message"></span>
              <button class="farrow"></button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <%= link_to '', guisso_settings_path(:account), :class => 'fsettings' %>
      </li>
    <% else %>
      <li>
        <%= link_to "Create account", guisso_sign_up_path_for(:account), :class => 'fedit' %>
      </li>
      <li>
        <%= link_to "Log in", guisso_sign_in_path_for(:account), :class => 'fuser' %>
      </li>
    <% end %>
  </ul>
<% end %>
<% content_for :footer_links do %>
  <a href="<%= root_path %>">Home</a>
<% end %>
<%= render :file => 'layouts/instedd_application' %>
