<!DOCTYPE html>
<html>
<head>
  <title>Verbo<%= ' - ' + current_account.email if account_signed_in? %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.1.min' %>
  <%= javascript_include_tag 'rails' %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <%= link_to 'Verbo', root_path, :id => 'title' -%>
      <%- unless notice.nil? -%>
        <span class="notice"><%= notice -%></span>
      <%- end -%>
      <% if account_signed_in? %>
        <span id="toolbar"><%= current_account.email -%> |
          <%= link_to 'Logoff', destroy_account_session_path -%></span>
      <% end %>
    </div>
    <% if account_signed_in? %>
      <%= render :partial => 'shared/tabs' -%>
    <% end %>
    <div id="main">
      <%- unless alert.nil? -%>
        <span class="alert"><%= alert -%></span>
      <%- end -%>
      <%= yield %>
    </div>
    <div id="version_separator"></div>
    <div id="version">Version: <%= verbo_version -%></div>
  </div>
</body>
</html>
