- content_for :navigation do
  = section "Home", home_path, :home
  - if account_signed_in?
    = section "Projects", projects_path, :projects, [:projects, :call_flows, :resources, :schedules, :contacts, :external_services, :feeds]
    = section "Channels", channels_path, :channels, [:channels, :nuntium_channels]
    = section "Calls", call_logs_path, :call_logs
    = section "Permissions", permissions_path, :permissions
- content_for :right_menu do
  %ul.RightMenu
    - if account_signed_in?
      %li
        #User
          = current_account.email
          %br/
          %br/
          .container
            %ul
              %li= link_to 'Settings', edit_account_registration_path
            %hr/
            %ul
              %li
                %a{href: "mailto:support@instedd.org?subject=[#{application_name.underscore}-bug]"} Report a bug
              %li= link_to "Sign Out", destroy_account_session_path
      %li
        = link_to '', edit_account_registration_path, :class => 'fsettings'
    - else
      %li
        = link_to "Create account", new_account_registration_path, :class => 'fedit'
      %li
        = link_to "Log in", new_account_session_path, :class => 'fuser'
- content_for :footer_links do
  %a{href: root_path} Home
= render :file => 'layouts/instedd_application'
